@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background: transparent !important;
  width: 0px !important;
}

.ant-pagination > li {
  border: 1px lightgrey solid !important;
}

.ant-pagination-item-active {
  background: #f5f5f5 !important;
  border: none !important;
  height: 40px !important;
  width: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 800 !important;
}

.ant-input::placeholder {
  color: black !important;
}

.ant-table {
  position: relative !important;
  height: 500px !important;
  overflow: scroll !important;
}

/* .ant-table-thead {
  position: sticky !important;
  left: 0 !important;
  top: 0 !important;
  overflow: scroll !important;
  z-index: 100 !important;
} */

.ant-select-selection-placeholder,
.ant-select-selection-item,
.ant-select-selection {
  color: black !important;
  font-weight: 100 !important;
}

.ant-dropdown-menu-root {
  overflow-y: scroll !important;
}

.ant-input-password .ant-input::placeholder {
  color: #6b7280 !important;
  font-weight: 300 !important;
}

.ant-select-dropdown .ant-select-item {
  font-weight: 300 !important;
}

/* Style the selected option in the dropdown */
.ant-select-dropdown .ant-select-item-option-selected {
  font-weight: 400 !important;
}

/* Style the dropdown menu itself */
.ant-select-dropdown {
  font-weight: 300 !important;
}

.ant-otp-input {
  width: 60px !important;
  height: 50px !important;
  border-color: #534feb !important;
}
